:root {
    --green: #01b136; 
    --yellow: #d9a405;
    --blue: #007bff;
    --offBlack: #333;
    --white: #ffffff;
    --red: #FF0000;
}

body {
    background-color: var(--offBlack);
    color: var(--green )
}

h1 {
    color: var(--yellow);
}

#controls-container {
    color: var(--red);
}